
@font-face { font-family: Graublau; src: url('/assets/stylesheets/GraublauWeb.otf'); } 

body, html {
	margin: 0px;
	background: black;
	font-family: Lucida Grande, sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #000;
	padding: 5px;
}

th {
	background-color: #ddd;
}

h1 {
	font-family: Graublau, sans-serif;
	color: #bbb;
	font-size: 35px;
}

.big {
	color: #bbb;
	font-size: 35px;
	margin-bottom: -10px;
	vertical-align: text-bottom;
}

#content {
	padding-top: 5px;
	padding-bottom: 20px;
}

#contentWrapper {
	background: white;
}
#headerWrapper {
	color: white;
	overflow: auto;
}

#footerWrapper {
	color: white;
	overflow: auto;
}

#footer {
	text-align: center;
}

#tecontainer {
	position: relative;
	width: 100%;
	height: 100px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.center {
	margin: auto;
}

.box {
	border: 1px solid black;
	width: 32%;
	height: 200px;
	margin: 3px;
	display: table;
}

.boxcontent {
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}

a {
	color:white;
	text-decoration: none;	
}

input[type=text] {
	border: 1px solid black;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	padding: 5px;
	width: 90%;
}
input[type=submit] {
	color: white;
	font-family: Lucida Grande, sans-serif;
	font-size: 100%;
	padding: 5px 30px 5px 30px;
	background-image: linear-gradient(top, #fff 25%, #DFE7E8 100%);
	background-image: -o-linear-gradient(top, #fff 25%, #DFE7E8 100%);
	background-image: -moz-linear-gradient(top, #fff 25%, #DFE7E8 100%);
	background-image: -webkit-linear-gradient(top, #fc6c47 0%, #F5542C 100%);
	background-image: -ms-linear-gradient(top, #fff 25%, #DFE7E8 100%);
	-moz-border-radius:6px; /* Firefox */
	-webkit-border-radius:6px; /* Safari, Chrome */
	-khtml-border-radius:6px; /* Konqueror */
	border-radius:6px; /* CSS3 */
}

#content a {
	color:black;
	text-decoration: underline;	
}

#content a:hover {
	color:#bbb;
}