@()

@main("tagsobe - About us") {
    
<h1>About us</h1>
  
<p>  
The company behind tagsobe is 
<a href="http://www.objectcode.de" target="_blank">ObjectCode GmbH</a>, 
a german software development service provider 
specialised in creating high load web solutions.
</p>
  
<p>  
We believe in ACT - agility, continuity and teamwork.
</p>
  
<p>  
We are constantly struggling to provide our customers 
with premium state-of-the-art services.
</p>
  
<p>  
The hunt for the best solution always includes deciding 
about technologies being used in each specific case.
</p>
  
<p>  
We know the choice depends on many factors, but some 
of them are quantitatively decidable - and as we always 
are faced with high load and scalability requirements, 
performance is one of the key factors.
</p>
  
<p>  
Therefore we are posing our constant question to the crowd:
</p>
  
<center>
<h1>Which Web Technology is most performant?</h1>
<center>

}