@()

@main("tagsobe - Disclaimer") {
    
<h1>Disclaimer</h1>
  
<h1>Content</h1>

The content of this website has been carefully prepared 
and reviewed. However,  ObjectCode GmbH - hereafter called "OC" - 
does not guarantee the accuracy, completeness or quality 
of the information provided, or that it is up-to-date. 
Liability claims against OC in respect of material or 
immaterial damage caused by the use or non-use of the 
information offered or by inaccurate or incomplete 
information are in principle ruled out provided that 
there is no provable culpable intent or gross negligence 
on OC's part. OC expressly reserves the right to alter, 
amend or delete parts of the site or the entire offering, 
or to cease publication, without prior notice.

<h1>External links</h1>

Where OC provides direct or indirect references (i.e. links) 
to external websites, it is liable only if OC has precise 
knowledge of the content and if it is technically possible 
and reasonable for it to prevent use in the event that they 
contain unlawful content. OC hereby expressly states that the 
linked websites had no illegal content when the links were set up. 
It has no influence whatsoever on the current or future design 
of the linked sites and hereby distances itself expressly from 
any alterations to the content that were made after the links to 
those sites were set up. OC is not responsible for the content, 
availability, correctness or accuracy of the linked sites or of 
the offerings, links or advertisements therein. It is not liable 
for illegal, incorrect or incomplete content or in particular for 
damages arising from the use or non-use of the information provided 
on linked sites.

<h1>Copyright</h1>

In all publications, OC endeavours to comply with applicable copyrights. 
If, in spite of this, an infringement of copyright should occur, 
OC will after notification remove the relevant object from its 
publication or indicate the appropriate copyright. All brand names 
and trademarks mentioned within the Internet offering that are 
possibly protected by third parties are without limitation subject 
to the provisions of the law on trademarks and related signs and 
the property rights of the registered owners. The mere fact that 
they have been mentioned should not be taken to mean that trademarks 
are not protected by third-party rights. OC holds sole copyright 
to OC's own content at the domain tagsobe.com. Reproduction of 
graphics or texts in other electronic or printed publications is not 
permitted without OC's express consent.

<h1>Legal validity</h1>

This disclaimer of liability is to be regarded as part of the Internet 
offering from which you were referred to this page. Should parts or 
individual forms of wording in this text not, no longer or not fully 
comply with applicable law, this does not affect the content or 
validity of the remaining parts of the document.

}