@()

@main("tagsobe") {
    
<p>This script tests your solution.</p>

<p>
It takes care of all the subtle details where state management 
in different technologies is handled differently 
(cookies, url rewrites, etc).
</p>  
  
<p>
Java 1.5 is required. After download, save the file as tagsobe.jar and type:
</p>  
  
<center>
<code>
java -jar tagsobe.jar http://localhost:8080
</code>  
</center>
  
<p>
Or any other URL you have your solution deployed at.
</p>  
  
<center>
<div class="box">
<span class="boxcontent">
<a href="@routes.Assets.at("tagsobe.jar")">Download our test script.
</span>
</div>
</center>
<div class="clear"></div>

}