@(contribution: Form[models.Contribution], ranking: List[Probe])

@import helper._

@main("tagsobe") {
    
<h1>Which web technology is most performant?</h1>

<table border=0 cellspacing="0">
	<tr>
		<th>rank</th>
		<th>technology</th>
		<th>developer</th>
		<th>benched</th>
		<th>maxTP <a href="/help#maxTP">(?)</a></th>
		<th>scaling <a href="/help#scaling">(?)</a></th>
		<th>&nbsp;</th>
	</tr>
@for(p <- ranking) {
	<tr>
		<td>@p.rank</td>
		<td><a href="@p.techpage" target="_blank">@p.title</a></td>
		<td><a href="@p.repository" target="_blank">@p.developer</a></td>
		<td>@p.date.format("MM/dd/yyyy")</td>
		<td>@p.maxTP</td>
		<td>@p.scaling</td>
		<td><a href="/result/@p.name/all">more...</a></td>
	</tr>
} 
	<tr>
		<td rowspan="8">?</td>
		<td>Ruby on Rails</td>
		<td rowspan="8" colspan="5">not yet applied...</td>
	</tr>
	<tr>
		<td>Grails</td>
	</tr>
	<tr>
		<td>Wicket</td>
	</tr>
	<tr>
		<td>JSF/CDI</td>
	</tr>
	<tr>
		<td>PHP</td>
	</tr>
	<tr>
		<td>node.js</td>
	</tr>
	<tr>
		<td>Play</td>
	</tr>
	<tr>
		<td>Echo</td>
	</tr>
</table>

<h1>Join in!</h1>

<p>
Create a sample <a href="http://richweb.springsource.org/swf-booking-faces/spring/main" target="_blank">Hotel Booking App</a> 
in your favorite technology, 
benchmark it on your machine and tell us about it. 
We'll verify it on a standard setup and publish the results. 
<br>
Promote your favorite technology and your own skills!
</p>

<div class="left box">
<span class="boxcontent">
<a href="@routes.Application.download()">Download our test script</a>
</span>
</div>
<div class="left box">
<span class="boxcontent">
Start your solution
<ul>
  <li>from scratch</li>
  <li>
  	or fork one of ours 
  	<a href="https://github.com/joergviola" target="_blank">on GitHub</a>
  </li> 
</ul>
</span>
</div>
<div class="left box">
<span class="boxcontent">
Tell us your GitHub repo:
<form action="@routes.Application.contribute()" method="POST">
<input class="right" type="text" name="repo">
<br>
<input class="right" type="submit" value="Send!">
</form>
</span>
</div>
<div class="clear"></div>

}