@(contribution: Form[models.Contribution])

@import helper._

@main("tagsobe") {
    
<p>Which Web Technology is most performant?</p>
<div id="tecontainer">
   @tech(60,  10, "node.js") 
   @tech(10, 100, "PHP") 
   @tech(50, 190, "Ruby") 
   @tech( 0, 250, "Spring") 
   @tech(80, 280, "Play") 
   @tech(40, 380, "Perl") 
   @tech(50, 520, "Wicket") 
</div>
<p>Let's find out:</p>
<p>
Create a sample <a href="http://richweb.springsource.org/swf-booking-faces/spring/main" target="_blank">Hotel Booking App</a> 
in your favorite technology, 
benchmark it on your machine and tell us about it. 
We'll verify it on a standard setup and publish the results. 
<br>
Promote your favorite technology and your own skills!
</p>

<div class="left">
<p>First solutions under test! - Come back for results in:</p>
</div>

<script language="JavaScript">
TargetDate = "12/31/2011 5:00 AM";
BackColor = "white";
ForeColor = "#bbb";
CountActive = true;
CountStepper = -1;
LeadingZero = true;
DisplayFormat = "%%D%%D%%H%%H%%M%%M%%S%%S";
FinishMessage = "It is finally here!";
</script>

<div class="right">
<h1>
<script language="JavaScript" src="@routes.Assets.at("javascripts/countdown.js")"></script>
</h1>
</div>
<div class="clear"></div>
<p>Or - better - Join in:</p>
<div class="left box">
<span class="boxcontent">
<a href="@routes.Application.download()">Download our Test Script</a>
</span>
</div>
<div class="left box">
<span class="boxcontent">
Start your solution
<ul>
  <li>from scratch</li>
  <li>or fork one of ours on GitHub</li> 
</ul>
</span>
</div>
<div class="left box">
<span class="boxcontent">
Tell us your GitHub Repo:
<form action="@routes.Application.contribute()" method="POST">
<input class="right" type="text" name="repo">
<br>
<input class="right" type="submit" value="Send!">
</form>
</span>
</div>
<div class="clear"></div>

}