@(title: String)(content: Html)

@page(title) {
  <a href="/">
  <h1>tagsobe</h1>
  Technology Agnostic Social Benchmarking
  </a> 
<span style="position: absolute; float: right;">
<div style="position: relative; top: -100px; left: 200px;">
<a href="http://tagsobe.wordpress.com/">
	<img src="@routes.Assets.at("images/blog.png")">
</a>
</div>
</span>

}{
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style" style="float: left; width:140px;">
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_dzone"></a>
	<a class="addthis_button_xing"></a>
	<a class="addthis_button_google_plusone" g:plusone:count="false"></a>
	<a class="addthis_button_compact"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ed384ea616bceae"></script>
	<!-- AddThis Button END -->
	<div style="clear: both"></div>
    
    @content
    
}{
  <a href="@routes.Application.disclaimer()">Disclaimer</a>
  -
  <a href="@routes.Application.about()">About us</a>
  -
  <a href="@routes.Application.help()">Help</a>
  -
  <a href="http://tagsobe.wordpress.com/">Blog</a>
}