@(title: String)(content: Html)

@page(title) {
  <a href="/">
  <h1>tagsobe</h1>
  Technology Agnostic Social Benchmarking
  </a> 
<span style="position: absolute; float: right;width:1px;height:1px;">
<div style="position: relative; top: -100px; left: 200px;">
<a href="http://tagsobe.wordpress.com/">
	<img src="@routes.Assets.at("images/blog.png")">
</a>
</div>
</span>

}{
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style" style="float: left; width:140px;">
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_dzone"></a>
	<a class="addthis_button_xing"></a>
	<a class="addthis_button_google_plusone" g:plusone:count="false"></a>
	<a class="addthis_button_compact"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ed384ea616bceae"></script>
	<!-- AddThis Button END -->
	<div style="clear: both"></div>
    
    @content
    
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'tagsobe'; // required: replace example with your forum shortname
	
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
}{
  <a href="@routes.Application.disclaimer()">Disclaimer</a>
  -
  <a href="@routes.Application.about()">About us</a>
  -
  <a href="@routes.Application.help()">Help</a>
  -
  <a href="http://tagsobe.wordpress.com/">Blog</a>
}